name: KinD e2e tests

on:
  push:
    branches: [ 'master', 'release-*' ]
  pull_request:
    branches: [ 'master', 'release-*' ]

jobs:

  ko-resolve:
    name: e2e tests
    runs-on: ubuntu-latest
    env:
      GOPATH: ${{ github.workspace }}
      GO111MODULE: off
      KO_DOCKER_REPO: ko.local

    steps:
    - name: Set up Go 1.14.x
      uses: actions/setup-go@v2
      with:
        go-version: 1.14.x

    - name: Install Dependencies
      run: |
        GO111MODULE=on go get github.com/google/ko/cmd/ko@master

    - name: Check out code onto GOPATH
      uses: actions/checkout@v2
      with:
        path: ./src/knative.dev/${{github.event.pull_request.head.repo.name}}

    - name: Install KinD
      working-directory: ./src/knative.dev/${{github.event.pull_request.head.repo.name}}
      env:
        KIND_VERSION: v0.8.1
      run: |
        set -x

        curl -Lo ./kind https://github.com/kubernetes-sigs/kind/releases/download/${KIND_VERSION}/kind-$(uname)-amd64
        chmod +x ./kind
        sudo mv kind /usr/local/bin

    - name: Create KinD Cluster
      working-directory: ./src/knative.dev/${{github.event.pull_request.head.repo.name}}
      run: |
        set -x

        # KinD configuration.
        cat > kind.yaml <<EOF
        apiVersion: kind.x-k8s.io/v1alpha4
        kind: Cluster
        nodes:
        - role: control-plane
        - role: worker
        EOF

        # Create a cluster!
        kind create cluster --config kind.yaml

    - name: Install Knaitve Component
      working-directory: ./src/knative.dev/${{github.event.pull_request.head.repo.name}}
      run: |
        set -x

        # Build and Publish our test images to the docker daemon.
        # ./test/upload-test-images.sh # <-- Skip for now.

        # Build and Publish our containers to the docker daemon (including test assets)
        export GO111MODULE=on
        export GOFLAGS=-mod=vendor
        ko resolve -Pf config/ -f test/config > build.yaml

        # Load our docker images into the kind cluster!
        for x in $(docker images  --format='{{.Repository}}:{{.Tag}}' | grep ko.local); do
          kind load docker-image $x
        done

        # Deploy the controllers we published to the cluster.
        kubectl apply -f build.yaml

    - name: Fetch rabbitmq/cluster-operator
      uses: actions/checkout@v2
      with:
        repository: rabbitmq/cluster-operator
        path: ./src/github.com/rabbitmq/cluster-operator

    - name: Install Dependencies
      working-directory: ./src/github.com/rabbitmq/cluster-operator
      run: |
        set -x

        kubectl create -f config/namespace/base/namespace.yaml
        kubectl create -f config/crd/bases/rabbitmq.com_rabbitmqclusters.yaml
        kubectl -n rabbitmq-system create --kustomize config/rbac/
        kubectl -n rabbitmq-system create --kustomize config/manager/

    - name: Wait for Ready
      working-directory: ./src/knative.dev/${{github.event.pull_request.head.repo.name}}
      run: |
        set -x

        # Probably don't need this anymore, but keep until we
        # have something that waits for pods to becomes ready.
        sleep 60

        # For debugging.
        kubectl get pods --all-namespaces

    - name: Run e2e Tests
      working-directory: ./src/knative.dev/${{github.event.pull_request.head.repo.name}}
      run: |
        set -x

        # For logstream to work.
        export SYSTEM_NAMESPACE=knative-eventing # TODO: fix this when we move the namespace.

        # Run the tests tagged as e2e on the KinD cluster.
        go test -v -race -count=1 -timeout=3m -tags=e2e ./test/e2e/...

