name: KinD e2e tests

on:
  push:
    branches: [ 'master', 'release-*' ]
  pull_request:
    branches: [ 'master', 'release-*' ]

jobs:

  ko-resolve:
    name: e2e tests
    runs-on: ubuntu-latest
    env:
      GOPATH: ${{ github.workspace }}
      GO111MODULE: off
      KO_DOCKER_REPO: kind.local

    steps:
    - name: Set up Go 1.14.x
      uses: actions/setup-go@v2
      with:
        go-version: 1.14.x

    - name: Install Dependencies
      run: |
        GO111MODULE=on go get github.com/google/ko/cmd/ko@master

    - name: Check out code onto GOPATH
      uses: actions/checkout@v2
      with:
        path: ./src/knative.dev/${{ github.event.repository.name }}

    - name: Install KinD
      working-directory: ./src/knative.dev/${{ github.event.repository.name }}
      env:
        KIND_VERSION: v0.8.1
      run: |
        set -x

        curl -Lo ./kind https://github.com/kubernetes-sigs/kind/releases/download/${KIND_VERSION}/kind-$(uname)-amd64
        chmod +x ./kind
        sudo mv kind /usr/local/bin

    - name: Create KinD Cluster
      working-directory: ./src/knative.dev/${{ github.event.repository.name }}
      env:
        NODE_IMAGE: 'kindest/node:v1.16.9@sha256:7175872357bc85847ec4b1aba46ed1d12fa054c83ac7a8a11f5c268957fd5765'
      run: |
        set -x

        # KinD configuration.
        cat > kind.yaml <<EOF
        apiVersion: kind.x-k8s.io/v1alpha4
        kind: Cluster
        nodes:
        - role: control-plane
          image: ${NODE_IMAGE}
        - role: worker
          image: ${NODE_IMAGE}

        kubeadmConfigPatches:
          - |
            apiVersion: kubeadm.k8s.io/v1beta2
            kind: ClusterConfiguration
            metadata:
              name: config
            apiServer:
              extraArgs:
                "service-account-issuer": "kubernetes.default.svc"
                "service-account-signing-key-file": "/etc/kubernetes/pki/sa.key"
        EOF

        # Create a cluster!
        kind create cluster --config kind.yaml

    - name: Install rabbitmq/cluster-operator
      run: |
        set -x

        kubectl apply -f https://github.com/rabbitmq/cluster-operator/releases/download/0.46.0/cluster-operator.yml

    - name: Install Knative Eventing
      working-directory: ./src/github.com/rabbitmq/cluster-operator
      run: |
        set -x

        kubectl apply --filename https://github.com/knative/eventing/releases/download/v0.17.0/eventing-crds.yaml
        sleep 2 # Wait for the CRDs to be reconciled.
        kubectl apply --filename https://github.com/knative/eventing/releases/download/v0.17.0/eventing-core.yaml

    - name: Install
      working-directory: ./src/knative.dev/${{ github.event.repository.name }}
      run: |
        set -x
        # TODO: this should use the release script and then apply the newly created release yaml in the future.

        # Install Broker.
        ko apply -f ./config/broker/

# todo: skip the quacken at the moment.
#  - name: Release the Quacken
#      working-directory: ./src/knative.dev/${{ github.event.repository.name }}
#      run: |
#        set -x
#
#        # ko apply -Pf test/config/ -f config

    - name: Wait for Ready
      working-directory: ./src/knative.dev/${{ github.event.repository.name }}
      run: |
        set -x

        # Probably don't need this anymore, but keep until we
        # have something that waits for pods to becomes ready.
        sleep 60

        # For debugging.
        kubectl get pods --all-namespaces

    - name: Run e2e Tests
      working-directory: ./src/knative.dev/${{ github.event.repository.name }}
      run: |
        set -x

        # Run the tests tagged as e2e on the KinD cluster.
        go test -v -race -count=1 -timeout=15m -tags=e2e ./test/e2e/...

    - name: Gather Failure Data
      if: ${{ failure() }}
      run: |
        set -x

        echo "===================== Brokers =============================="
        kubectl get broker --all-namespaces=true -oyaml

        echo "===================== Triggers ============================="
        kubectl get trigger --all-namespaces=true -oyaml

        echo "===================== RabbitMQClusters ====================="
        kubectl get RabbitMQCluster --all-namespaces=true -oyaml

        echo "===================== K8s Events ==========================="
        kubectl get events --all-namespaces=true -oyaml

        echo "===================== Pod Logs ============================="
        namespace=knative-eventing
        for pod in $(kubectl get pod -n $namespace | grep Running | awk '{print $1}'); do
          for container in $(kubectl get pod "${pod}" -n $namespace -ojsonpath='{.spec.containers[*].name}'); do
            echo "Namespace, Pod, Container: ${namespace}, ${pod}, ${container}"
            kubectl logs -n $namespace "${pod}" -c "${container}" || true
            echo "----------------------------------------------------------"
            echo "Namespace, Pod, Container (Previous instance): ${namespace}, ${pod}, ${container}"
            kubectl logs -p -n $namespace "${pod}" -c "${container}" || true
            echo "============================================================"
          done
        done


